# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# This imports all the propeties we need to fully function our code
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# .read_csv helps us create a panda form the csv file 'applicants_data'
applicant_data_df = pd.read_csv('Resources/applicants_data.csv')

# this outputs the datafram of the csv file
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Using .dtypes shows us what each columns type is
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Using the .drop here will drop the columns that have the title 'EIN' and 'NAME'
applicant_data_df = applicant_data_df.drop(columns = ['EIN' , 'NAME'])

# This outprints the new data frame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# We are now creating a list of the all the columns that are consider objects and creating them as indexes
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# This will display out list 
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# We are creating a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
                         columns = enc.get_feature_names(categorical_variables)
                         )

# This outprints our data frame
encoded_df

C:\Users\jat85\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns = categorical_variables), encoded_df], axis = 1)

# This outprints the dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# we are now making y its own dataset with only columns that are named 'IS_SUCCESSFUL'
y = encoded_df['IS_SUCCESSFUL']

# This will display what y is
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [11]:
# We are now making a new dataset of all the colums except ones names 'IS_SUCCESSFU'
X = encoded_df.drop(columns = 'IS_SUCCESSFUL')

# This outputs what x is
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split( X, y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# StandardScaler() will create a Standard Scaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaled = scaler.fit_transform(X)

# Fit the scaler to the features training dataset
# Having problem with this section
# X_train_scaled = LogisticRegression.fit(X_train, y_train)
# X_test_scaled = LogisticRegression.fit(X_test, y_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# This will define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Outprints the number of features
number_input_features

116

In [15]:
# This will define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# We are now defining the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) / 2

# Outprints the number hidden nodes in the first layer
hidden_nodes_layer1

58.5

In [17]:
# WE are now Defining the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) / 2

# Outprints the number hidden nodes in the second layer
hidden_nodes_layer2

29.75

In [18]:
# We are Cceating the Sequential model instance for nn
nn = Sequential()

In [19]:
# We are adding the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = 'relu'))

In [20]:
# WE are adding the second hidden layer
nn.add(Dense(units = hidden_nodes_layer2, activation = 'relu'))

In [21]:
# WE are adding the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units = 1, activation = 'sigmoid'))

In [22]:
# .summary will display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = 'accuracy')

In [25]:
# with our model, we are now going to test with 50 epochs( 50 tries) with our data
model = nn.fit(X_scaled, y, validation_split = 0.3, epochs = 50)

Epoch 1/50
751/751 [==============================] - 7s 7ms/step - loss: 0.5582 - accuracy: 0.7337 - val_loss: 0.5972 - val_accuracy: 0.6965
Epoch 2/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5371 - accuracy: 0.7444 - val_loss: 0.5993 - val_accuracy: 0.6835
Epoch 3/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5346 - accuracy: 0.7457 - val_loss: 0.5991 - val_accuracy: 0.6873
Epoch 4/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5324 - accuracy: 0.7475 - val_loss: 0.5999 - val_accuracy: 0.6973
Epoch 5/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5308 - accuracy: 0.7472 - val_loss: 0.5933 - val_accuracy: 0.6872
Epoch 6/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5298 - accuracy: 0.7465 - val_loss: 0.6008 - val_accuracy: 0.6838
Epoch 7/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5298 - accuracy: 0.7462 - val_loss: 0.5959 - val_accuracy: 0.6900
Epoch 8/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5293 - accuracy: 0.7474 - val_loss: 0.5982 - val_accuracy: 0.6857
Epoch 9/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5278 - accuracy: 0.7474 - val_loss: 0.5967 - val_accuracy: 0.6851
Epoch 10/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5277 - accuracy: 0.7480 - val_loss: 0.5957 - val_accuracy: 0.6985
Epoch 11/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5267 - accuracy: 0.7478 - val_loss: 0.5964 - val_accuracy: 0.6877
Epoch 12/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5262 - accuracy: 0.7491 - val_loss: 0.6029 - val_accuracy: 0.6976
Epoch 13/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5261 - accuracy: 0.7506 - val_loss: 0.6018 - val_accuracy: 0.6872
Epoch 14/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5260 - accuracy: 0.7491 - val_loss: 0.6005 - val_accuracy: 0.6879
Epoch 15/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5256 - accuracy: 0.7502 - val_loss: 0.6057 - val_accuracy: 0.6832
Epoch 16/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5249 - accuracy: 0.7486 - val_loss: 0.6032 - val_accuracy: 0.6905
Epoch 17/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5251 - accuracy: 0.7501 - val_loss: 0.5991 - val_accuracy: 0.6951
Epoch 18/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5244 - accuracy: 0.7516 - val_loss: 0.5993 - val_accuracy: 0.6888
Epoch 19/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5244 - accuracy: 0.7520 - val_loss: 0.6042 - val_accuracy: 0.6832
Epoch 20/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5240 - accuracy: 0.7516 - val_loss: 0.6024 - val_accuracy: 0.6974
Epoch 21/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5237 - accuracy: 0.7511 - val_loss: 0.6021 - val_accuracy: 0.6908
Epoch 22/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5237 - accuracy: 0.7521 - val_loss: 0.6038 - val_accuracy: 0.6978
Epoch 23/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5230 - accuracy: 0.7522 - val_loss: 0.6036 - val_accuracy: 0.7003
Epoch 24/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5229 - accuracy: 0.7517 - val_loss: 0.6018 - val_accuracy: 0.6903
Epoch 25/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5226 - accuracy: 0.7514 - val_loss: 0.6024 - val_accuracy: 0.6968
Epoch 26/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5225 - accuracy: 0.7514 - val_loss: 0.6102 - val_accuracy: 0.6862
Epoch 27/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5226 - accuracy: 0.7523 - val_loss: 0.6030 - val_accuracy: 0.6879
Epoch 28/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5220 - accuracy: 0.7526 - val_loss: 0.6032 - val_accuracy: 0.6884
Epoch 29/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5215 - accuracy: 0.7530 - val_loss: 0.6087 - val_accuracy: 0.6973
Epoch 30/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5213 - accuracy: 0.7534 - val_loss: 0.6050 - val_accuracy: 0.6905
Epoch 31/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5215 - accuracy: 0.7506 - val_loss: 0.6093 - val_accuracy: 0.6874
Epoch 32/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5216 - accuracy: 0.7528 - val_loss: 0.6046 - val_accuracy: 0.6992
Epoch 33/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5205 - accuracy: 0.7519 - val_loss: 0.6064 - val_accuracy: 0.6964
Epoch 34/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5207 - accuracy: 0.7532 - val_loss: 0.6087 - val_accuracy: 0.6866
Epoch 35/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5208 - accuracy: 0.7542 - val_loss: 0.6090 - val_accuracy: 0.6844
Epoch 36/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5210 - accuracy: 0.7521 - val_loss: 0.6080 - val_accuracy: 0.6873
Epoch 37/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5199 - accuracy: 0.7534 - val_loss: 0.6098 - val_accuracy: 0.6865
Epoch 38/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5203 - accuracy: 0.7540 - val_loss: 0.6037 - val_accuracy: 0.6970
Epoch 39/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5200 - accuracy: 0.7532 - val_loss: 0.6102 - val_accuracy: 0.6983
Epoch 40/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5197 - accuracy: 0.7534 - val_loss: 0.6067 - val_accuracy: 0.6879
Epoch 41/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5198 - accuracy: 0.7536 - val_loss: 0.6026 - val_accuracy: 0.6968
Epoch 42/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5193 - accuracy: 0.7534 - val_loss: 0.6074 - val_accuracy: 0.6884
Epoch 43/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5195 - accuracy: 0.7551 - val_loss: 0.6105 - val_accuracy: 0.6975
Epoch 44/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5191 - accuracy: 0.7534 - val_loss: 0.6181 - val_accuracy: 0.6880
Epoch 45/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5191 - accuracy: 0.7542 - val_loss: 0.6109 - val_accuracy: 0.6871
Epoch 46/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5189 - accuracy: 0.7542 - val_loss: 0.6116 - val_accuracy: 0.6893
Epoch 47/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5182 - accuracy: 0.7537 - val_loss: 0.6078 - val_accuracy: 0.6893
Epoch 48/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5190 - accuracy: 0.7544 - val_loss: 0.6097 - val_accuracy: 0.6971
Epoch 49/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5187 - accuracy: 0.7559 - val_loss: 0.6086 - val_accuracy: 0.6962
Epoch 50/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5184 - accuracy: 0.7549 - val_loss: 0.6070 - val_accuracy: 0.6984

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_scaled, y)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1072/1072 [==============================] - 4s 4ms/step - loss: 0.5426 - accuracy: 0.7391
Loss: 0.542632520198822, Accuracy: 0.7390594482421875

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Outprints the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) / 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58.5

In [31]:
# This will create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense (units = hidden_nodes_layer1_A1, input_dim = number_input_features, activation = 'relu')) 

# Output layer
nn_A1.add(Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [33]:
# we are now making nn_A1 able to be able to compile the Sequential model
nn_A1.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = 'accuracy')

In [34]:
# with our model, we are now going to test with 50 epochs( 50 tries) with our data
fit_model_A1 = nn_A1.fit(X_scaled, y, validation_split = 0.3, epochs = 50)

Epoch 1/50
751/751 [==============================] - 6s 6ms/step - loss: 0.5667 - accuracy: 0.7309 - val_loss: 0.6218 - val_accuracy: 0.6941
Epoch 2/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5409 - accuracy: 0.7428 - val_loss: 0.6202 - val_accuracy: 0.6959
Epoch 3/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7445 - val_loss: 0.6143 - val_accuracy: 0.6973
Epoch 4/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5363 - accuracy: 0.7445 - val_loss: 0.6171 - val_accuracy: 0.6870
Epoch 5/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5346 - accuracy: 0.7462 - val_loss: 0.6201 - val_accuracy: 0.6980
Epoch 6/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5338 - accuracy: 0.7458 - val_loss: 0.6147 - val_accuracy: 0.6970
Epoch 7/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5326 - accuracy: 0.7453 - val_loss: 0.6184 - val_accuracy: 0.6963
Epoch 8/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5322 - accuracy: 0.7456 - val_loss: 0.6204 - val_accuracy: 0.6819
Epoch 9/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5315 - accuracy: 0.7464 - val_loss: 0.6178 - val_accuracy: 0.6852
Epoch 10/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5317 - accuracy: 0.7461 - val_loss: 0.6184 - val_accuracy: 0.6962
Epoch 11/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5308 - accuracy: 0.7480 - val_loss: 0.6176 - val_accuracy: 0.6947
Epoch 12/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5302 - accuracy: 0.7460 - val_loss: 0.6187 - val_accuracy: 0.6943
Epoch 13/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5299 - accuracy: 0.7469 - val_loss: 0.6170 - val_accuracy: 0.6945
Epoch 14/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5296 - accuracy: 0.7486 - val_loss: 0.6151 - val_accuracy: 0.6968
Epoch 15/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5292 - accuracy: 0.7463 - val_loss: 0.6194 - val_accuracy: 0.6961
Epoch 16/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5290 - accuracy: 0.7481 - val_loss: 0.6196 - val_accuracy: 0.6982
Epoch 17/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5294 - accuracy: 0.7475 - val_loss: 0.6196 - val_accuracy: 0.6854
Epoch 18/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5285 - accuracy: 0.7467 - val_loss: 0.6179 - val_accuracy: 0.6967
Epoch 19/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5277 - accuracy: 0.7495 - val_loss: 0.6205 - val_accuracy: 0.6955
Epoch 20/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5280 - accuracy: 0.7491 - val_loss: 0.6205 - val_accuracy: 0.6819
Epoch 21/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5280 - accuracy: 0.7492 - val_loss: 0.6186 - val_accuracy: 0.6854
Epoch 22/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5278 - accuracy: 0.7485 - val_loss: 0.6206 - val_accuracy: 0.6894
Epoch 23/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5273 - accuracy: 0.7493 - val_loss: 0.6218 - val_accuracy: 0.6871
Epoch 24/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5274 - accuracy: 0.7478 - val_loss: 0.6229 - val_accuracy: 0.6820
Epoch 25/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5273 - accuracy: 0.7497 - val_loss: 0.6181 - val_accuracy: 0.6840
Epoch 26/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5273 - accuracy: 0.7484 - val_loss: 0.6192 - val_accuracy: 0.6943
Epoch 27/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5267 - accuracy: 0.7490 - val_loss: 0.6218 - val_accuracy: 0.6949
Epoch 28/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5268 - accuracy: 0.7486 - val_loss: 0.6196 - val_accuracy: 0.6983
Epoch 29/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5267 - accuracy: 0.7482 - val_loss: 0.6220 - val_accuracy: 0.6960
Epoch 30/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5262 - accuracy: 0.7482 - val_loss: 0.6208 - val_accuracy: 0.6944
Epoch 31/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5263 - accuracy: 0.7474 - val_loss: 0.6187 - val_accuracy: 0.6954
Epoch 32/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5262 - accuracy: 0.7514 - val_loss: 0.6184 - val_accuracy: 0.6948
Epoch 33/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5259 - accuracy: 0.7510 - val_loss: 0.6212 - val_accuracy: 0.6952
Epoch 34/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5253 - accuracy: 0.7497 - val_loss: 0.6224 - val_accuracy: 0.6962
Epoch 35/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5254 - accuracy: 0.7500 - val_loss: 0.6208 - val_accuracy: 0.6965
Epoch 36/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5251 - accuracy: 0.7500 - val_loss: 0.6207 - val_accuracy: 0.6858
Epoch 37/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5249 - accuracy: 0.7499 - val_loss: 0.6229 - val_accuracy: 0.6863
Epoch 38/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5252 - accuracy: 0.7497 - val_loss: 0.6246 - val_accuracy: 0.6892
Epoch 39/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5248 - accuracy: 0.7497 - val_loss: 0.6247 - val_accuracy: 0.6865
Epoch 40/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5242 - accuracy: 0.7495 - val_loss: 0.6263 - val_accuracy: 0.6865
Epoch 41/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5249 - accuracy: 0.7523 - val_loss: 0.6448 - val_accuracy: 0.6916
Epoch 42/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5245 - accuracy: 0.7495 - val_loss: 0.6269 - val_accuracy: 0.6949
Epoch 43/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5243 - accuracy: 0.7501 - val_loss: 0.6290 - val_accuracy: 0.6881
Epoch 44/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5242 - accuracy: 0.7498 - val_loss: 0.6300 - val_accuracy: 0.6944
Epoch 45/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5244 - accuracy: 0.7498 - val_loss: 0.6266 - val_accuracy: 0.6962
Epoch 46/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5236 - accuracy: 0.7502 - val_loss: 0.6303 - val_accuracy: 0.6804
Epoch 47/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5254 - accuracy: 0.7501 - val_loss: 0.6274 - val_accuracy: 0.6836
Epoch 48/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5232 - accuracy: 0.7516 - val_loss: 0.6255 - val_accuracy: 0.6853
Epoch 49/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5239 - accuracy: 0.7504 - val_loss: 0.6278 - val_accuracy: 0.6868
Epoch 50/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5236 - accuracy: 0.7504 - val_loss: 0.6274 - val_accuracy: 0.6959

#### Alternative Model 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 128

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

128

In [40]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [41]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation = 'relu'))

# Output layer
nn_A2.add(Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 128)               14976

 dense_6 (Dense)             (None, 1)                 129

=================================================================
Total params: 15,105
Trainable params: 15,105
Non-trainable params: 0
_________________________________________________________________

In [44]:
# # we are now making nn_A2 able to be able to compile the Sequential model
nn_A2.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = 'accuracy')

In [45]:
# with our model, we are now going to test with 50 epochs( 50 tries) with our data
model_A2 = nn_A2.fit(X_scaled, y, validation_split = 0.3, epochs = 50)

Epoch 1/50
751/751 [==============================] - 6s 7ms/step - loss: 0.5642 - accuracy: 0.7324 - val_loss: 0.6094 - val_accuracy: 0.6953
Epoch 2/50
751/751 [==============================] - 6s 8ms/step - loss: 0.5440 - accuracy: 0.7398 - val_loss: 0.6081 - val_accuracy: 0.6962
Epoch 3/50
751/751 [==============================] - 5s 7ms/step - loss: 0.5402 - accuracy: 0.7431 - val_loss: 0.6114 - val_accuracy: 0.6961
Epoch 4/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5378 - accuracy: 0.7458 - val_loss: 0.6061 - val_accuracy: 0.6970
Epoch 5/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5364 - accuracy: 0.7443 - val_loss: 0.6045 - val_accuracy: 0.6831
Epoch 6/50
751/751 [==============================] - 6s 8ms/step - loss: 0.5350 - accuracy: 0.7452 - val_loss: 0.6053 - val_accuracy: 0.6977
Epoch 7/50
751/751 [==============================] - 6s 8ms/step - loss: 0.5344 - accuracy: 0.7456 - val_loss: 0.6043 - val_accuracy: 0.6839
Epoch 8/50
751/751 [==============================] - 6s 7ms/step - loss: 0.5330 - accuracy: 0.7463 - val_loss: 0.6078 - val_accuracy: 0.6880
Epoch 9/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5319 - accuracy: 0.7464 - val_loss: 0.6052 - val_accuracy: 0.6975
Epoch 10/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5316 - accuracy: 0.7461 - val_loss: 0.6078 - val_accuracy: 0.6966
Epoch 11/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5319 - accuracy: 0.7452 - val_loss: 0.6046 - val_accuracy: 0.6812
Epoch 12/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5315 - accuracy: 0.7451 - val_loss: 0.6069 - val_accuracy: 0.6954
Epoch 13/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5303 - accuracy: 0.7456 - val_loss: 0.6140 - val_accuracy: 0.6969
Epoch 14/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5306 - accuracy: 0.7478 - val_loss: 0.6128 - val_accuracy: 0.6954
Epoch 15/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5300 - accuracy: 0.7466 - val_loss: 0.6130 - val_accuracy: 0.6970
Epoch 16/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5295 - accuracy: 0.7464 - val_loss: 0.6059 - val_accuracy: 0.6963
Epoch 17/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5294 - accuracy: 0.7470 - val_loss: 0.6082 - val_accuracy: 0.6965
Epoch 18/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5289 - accuracy: 0.7478 - val_loss: 0.6097 - val_accuracy: 0.6945
Epoch 19/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5287 - accuracy: 0.7476 - val_loss: 0.6135 - val_accuracy: 0.6834
Epoch 20/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5286 - accuracy: 0.7483 - val_loss: 0.6174 - val_accuracy: 0.6952
Epoch 21/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5287 - accuracy: 0.7492 - val_loss: 0.6181 - val_accuracy: 0.6863
Epoch 22/50
751/751 [==============================] - 5s 6ms/step - loss: 0.5274 - accuracy: 0.7492 - val_loss: 0.6183 - val_accuracy: 0.6938
Epoch 23/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5279 - accuracy: 0.7495 - val_loss: 0.6172 - val_accuracy: 0.6892
Epoch 24/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5282 - accuracy: 0.7488 - val_loss: 0.6084 - val_accuracy: 0.6875
Epoch 25/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5275 - accuracy: 0.7483 - val_loss: 0.6181 - val_accuracy: 0.6948
Epoch 26/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5267 - accuracy: 0.7498 - val_loss: 0.6068 - val_accuracy: 0.6875
Epoch 27/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5270 - accuracy: 0.7509 - val_loss: 0.6205 - val_accuracy: 0.6966
Epoch 28/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5261 - accuracy: 0.7489 - val_loss: 0.6122 - val_accuracy: 0.6874
Epoch 29/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5268 - accuracy: 0.7490 - val_loss: 0.6189 - val_accuracy: 0.6972
Epoch 30/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5260 - accuracy: 0.7508 - val_loss: 0.6127 - val_accuracy: 0.6943
Epoch 31/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5264 - accuracy: 0.7482 - val_loss: 0.6395 - val_accuracy: 0.6843
Epoch 32/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5262 - accuracy: 0.7503 - val_loss: 0.6237 - val_accuracy: 0.6983
Epoch 33/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5255 - accuracy: 0.7504 - val_loss: 0.6180 - val_accuracy: 0.6952
Epoch 34/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5260 - accuracy: 0.7484 - val_loss: 0.6212 - val_accuracy: 0.6963
Epoch 35/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5252 - accuracy: 0.7517 - val_loss: 0.6338 - val_accuracy: 0.6900
Epoch 36/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5258 - accuracy: 0.7505 - val_loss: 0.6200 - val_accuracy: 0.6952
Epoch 37/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5255 - accuracy: 0.7503 - val_loss: 0.6320 - val_accuracy: 0.6976
Epoch 38/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5253 - accuracy: 0.7486 - val_loss: 0.6204 - val_accuracy: 0.6961
Epoch 39/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5250 - accuracy: 0.7507 - val_loss: 0.6882 - val_accuracy: 0.6840
Epoch 40/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5281 - accuracy: 0.7486 - val_loss: 0.6260 - val_accuracy: 0.6932
Epoch 41/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5248 - accuracy: 0.7507 - val_loss: 0.6324 - val_accuracy: 0.6859
Epoch 42/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5237 - accuracy: 0.7521 - val_loss: 0.6295 - val_accuracy: 0.6956
Epoch 43/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5243 - accuracy: 0.7511 - val_loss: 0.6259 - val_accuracy: 0.6950
Epoch 44/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5242 - accuracy: 0.7500 - val_loss: 0.6279 - val_accuracy: 0.6964
Epoch 45/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5245 - accuracy: 0.7524 - val_loss: 0.6184 - val_accuracy: 0.6953
Epoch 46/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5241 - accuracy: 0.7518 - val_loss: 0.6196 - val_accuracy: 0.6839
Epoch 47/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5235 - accuracy: 0.7510 - val_loss: 0.6292 - val_accuracy: 0.6846
Epoch 48/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5236 - accuracy: 0.7515 - val_loss: 0.6219 - val_accuracy: 0.6840
Epoch 49/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5233 - accuracy: 0.7504 - val_loss: 0.6522 - val_accuracy: 0.6906
Epoch 50/50
751/751 [==============================] - 4s 6ms/step - loss: 0.5236 - accuracy: 0.7500 - val_loss: 0.6335 - val_accuracy: 0.6884

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [46]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_scaled, y)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
1072/1072 [==============================] - 4s 4ms/step - loss: 0.5426 - accuracy: 0.7391
Loss: 0.542632520198822, Accuracy: 0.7390594482421875

In [47]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_scaled, y)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
1072/1072 [==============================] - 4s 4ms/step - loss: 0.5522 - accuracy: 0.7356
Loss: 0.5521788001060486, Accuracy: 0.7355899810791016

In [48]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_scaled, y)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
1072/1072 [==============================] - 4s 4ms/step - loss: 0.5536 - accuracy: 0.7347
Loss: 0.5536095499992371, Accuracy: 0.7347444295883179

### Step 3: Save each of your alternative models as an HDF5 file.

In [49]:
# We are now setting the file path for the first alternative model
file_path = Path('Resources/AlphabetSoup_A1.h5')

# .save will export our model to a HDF5 file
nn_A1.save(file_path)

In [50]:
# We are now setting the file path for the second alternative model
file_path = Path('Resources/AlphabetSoup_A2.h5')

# .save will export your model to a HDF5 file
nn_A2.save(file_path)